
<body class="fondo-login">
    <h1 class="carrito-encabezado">Carrito de compras</h1>
    <div class="conten-tabla">
        <table id="tabla-productos">
            <tr>
                <th>ID</th>
                <th>PRODUCTO</th>
                <th>DESCRPCIÓN</th>
                <th>FORMA DE ENTREGA</th>
                <th>PRECIO</th>
                <th>CANTIDAD</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1</td>
                <td><img class="img-carrito" src="img/lap_acer.png" alt=""><br><a href="#" title="Eliminar producto del carrito">Eliminar</a></td>
                <td>Laptop Acer Nitro 5</td>
                <td>Entrega a domicilio</td>
                <td>9,000.00 <label for="">MX</label></td>
                <td>1</td>
                <td>9,000.00</td>
            </tr>
            <tr>
                <td>2</td>
                <td><img class="img-carrito" src="img/lap_dell.png" alt=""><br><a href="#" title="Eliminar producto del carrito">Eliminar</a></td>
                <td>Laptop Dell Vostro 3468</td>
                <td>Entrega a domicilio</td>
                <td>9,000.00</td>
                <td>1</td>
                <td>9,000.00</td>
            </tr>
            <tr>
                <td>3</td>
                <td><img class="img-carrito" src="img/lap_asus.png" alt=""><br><a href="#" title="Eliminar producto del carrito">Eliminar</a></td>
                <td>Laptop Asus X540BA</td>
                <td>Entrega a domicilio</td>
                <td>9,000.00</td>
                <td>1</td>
                <td>9,000.00</td>
            </tr>
            <tr>
                <td>4</td>
                <td><img class="img-carrito" src="img/lap_toshiba.png" alt=""><br><a href="#" title="Eliminar producto del carrito">Eliminar</a></td>
                <td>Laptop Toshiba Satellite NB-15</td>
                <td>Entrega a domicilio</td>
                <td>9,000.00</td>
                <td>1</td>
                <td>9,000.00</td>
            </tr>
            <tr>
                <td>5</td>
                <td><img class="img-carrito" src="img/pc_lenovo.png" alt=""><br><a href="#" title="Eliminar producto del carrito">Eliminar</a></td>
                <td>PC All In One LenovoS200z</td>
                <td>Entrega a domicilio</td>
                <td>9,000.00</td>
                <td>1</td>
                <td>9,000.00</td>
            </tr>
        </table>
        <h3 id="total">90,000.00</h3>
        <h3 id="tot">Total:</h3>
        <form action="">
            <button class="btn-comprar-carrito" type="submit" title="Finalizar compra"
                    formaction="finalizar_compra.html">
                FINALIZAR COMPRA
            </button>
        </form>
    </div>
    <footer class="footer">
        <div>
            <p>© 2020 Mundo PC. Todos los derechos reservados</p>
        </div>
    </footer>
</body>
