
<div class="slider">
    <ul>
        <li><img src="~/Img/img-principal.png" alt="si"></li>
        <li><img src="~/Img/slider-2.png" alt=""></li>
        <li><img src="~/Img/slider-3.png" alt=""></li>
        <li><img src="~/Img/slider-4.png" alt=""></li>
    </ul>
</div>
<div class="img-muestra">
    <marquee><h1 class="titulo titulo-mobil">Las mejores PC</h1></marquee>
    <li><img src="~/Img/laptop-slider.jpg" alt="" width="100%"></li>
    <li><img src="~/Img/Xiaomi-Mi-Notebook.jpg" alt="" width="100%"></li>
    <li><img src="~/Img/hp-840.png" alt="" width="100%"></li>
    <li><img src="~/Img/slogan.png" alt="" width="100%"></li>
</div>
<footer class="footer">
    <div>
        <p>© 2020 Mundo PC. Todos los derechos reservados</p>
    </div>
</footer>

