
    <body class="fondo-productos">

        <div class="filtro">
            <ul>
                <li><img src="~/img/pc-filtro.PNG" alt=""></li>
                <li><img src="~/img/gamer-filtro.PNG" alt=""></li>
                <li><img src="~/img/laptop-filtro.PNG" alt=""></li>
            </ul>
        </div>
        <!---------------------Primer contenedor de productos-------------->
        <div class="conten-padre">
            <div class="contenedor">
                <div class="carta">
                    <div class="lado frente">
                        <img src="~/img/lap_acer.png" alt="">
                    </div>
                    <div class="lado atras ficha-tecnica">
                        <p><b><u>Procesador:</u></b> Intel Core i5 7300HQ (2500 MHz - 3500 MHz)</p>
                        <p><b><u>Tarjeta de video:</u></b> NVIDIA GeForce GTX 1050 (4GB)</p>
                        <p><b><u>Memoria RAM:</u></b> 8GB DDR4</p>
                        <p><b><u>Pantalla:</u></b> LED 15.6" FHD (1920x1080)</p>
                        <p><b><u>Almacenamiento:</u></b> HDD 1TB (5400rpm)</p>
                        <p><b><u>Batería:</u></b> 4 celdas Li-Ion (3220 mAh)</p>
                        <p><b><u>SO:</u></b> Windows 10 Home 64 bits preinstalado</p>
                        <p><b><u>Audio:</u></b> Realtek HDA, micrófono y salida auriculares</p>
                        <p><b><u>Puertos:</u></b> USB 3.1 Tipo-C x1 / USB 3.1 Tipo-A x1 / USB 2.0 x2 / HDMI x1 / Lector 3×1</p>
                        <p><b><u>Conectividad:</u></b> 802.11 ac LAN inalámbrica; Tecnología MIMO 2×2 / Bluetooth 4.0</p>
                    </div>
                </div>
                <div class="etiqueta">
                    <h5 class="nom-producto">ACER Nitro 5</h5>
                    <h5 class="precio-producto">24,000.00 MX</h5>
                    <h3 class="existencias">5</h3><h3 class="existencias"> Existencias</h3><br>
                    <input class="cantidad" type="number" value="1" min="1" max="5">
                    <button class="btn-comprar" type="submit" title="Agregar al carrito">COMPRAR</button>
                </div>
            </div>
            <div class="contenedor">
                <div class="carta">
                    <div class="lado frente">
                        <img src="~/img/lap_asus.png" alt="">
                    </div>
                    <div class="lado atras ficha-tecnica">
                        <p><b><u>Procesador:</u></b> AMD Stoney Ridge A6-9225</p>
                        <p><b><u>Tarjeta de video:</u></b> Graficos integrados</p>
                        <p><b><u>Memoria RAM:</u></b> 4 GB Onboard memory</p>
                        <p><b><u>Pantalla:</u></b> 15.6" LED-backlit HD (1366x768) 60Hz Anti-Glare Panel with 45% NTSC</p>
                        <p><b><u>Almacenamiento:</u></b> 500GB 5400 rpm SATA HDD</p>
                        <p><b><u>Batería:</u></b> 3 -Cell 33 Wh Battery</p>
                        <p><b><u>SO:</u></b> Windows 10 Home</p>
                        <p><b><u>Audio:</u></b> Altavoces integrados y Micrófono</p>
                        <p><b><u>Puertos:</u></b> 1 x puerto(s) USB 3.0, 2 x USB 2.0 port(s), 1 x HDMI</p>
                        <p><b><u>Conectividad:</u></b> Integrated Wi-Fi 4 (802.11 b/g/n), Bluetooth 4.0</p>
                    </div>
                </div>
                <div class="etiqueta">
                    <h5 class="nom-producto">ASUS X540BA</h5>
                    <h5 class="precio-producto">6,000.00 MX</h5>
                    <h3 class="existencias">5</h3><h3 class="existencias"> Existencias</h3><br>
                    <input class="cantidad" type="number" value="1" min="1" max="5">
                    <button class="btn-comprar" type="submit" title="Agregar al carrito">COMPRAR</button>
                </div>
            </div>
            <div class="contenedor">
                <div class="carta">
                    <div class="lado frente">
                        <img src="~/img/lap_dell.png" alt="">
                    </div>
                    <div class="lado atras ficha-tecnica">
                        <p><b><u>Procesador:</u></b> Intel Core i3-6006U hasta 2,0 GHz </p>
                        <p><b><u>Tarjeta de video:</u></b> Graficos Intel HD Graphics 520 </p>
                        <p><b><u>Memoria RAM:</u></b> 8 GB DDR4 a 2400 MHz</p>
                        <p><b><u>Pantalla:</u></b> WLED de 14" HD 1366 x 768</p>
                        <p><b><u>Almacenamiento:</u></b> Disco Duro de 1 TB a 5400 RPM </p>
                        <p><b><u>Batería:</u></b> Ión de litio, 4 ,14,8 V 40Wh</p>
                        <p><b><u>SO:</u></b> Windows 10 Pro </p>
                        <p><b><u>Audio:</u></b> MaxxAudio - Realtek ALC3246</p>
                        <p><b><u>Puertos:</u></b> Lector de Tarjetas SD, 1 Puerto HDMI y 1 Puerto VGA, 2 Puertos USB 3.0 y 1 Puerto USB 2.0 </p>
                        <p><b><u>Conectividad:</u></b> Wi-Fi 802.11AC y Bluetooth 4.1</p>
                    </div>
                </div>
                <div class="etiqueta">
                    <h5 class="nom-producto">DELL Vostro 3468</h5>
                    <h5 class="precio-producto">13,000.00 MX</h5>
                    <h3 class="existencias">5</h3><h3 class="existencias"> Existencias</h3><br>
                    <input class="cantidad" type="number" value="1" min="1" max="5">
                    <button class="btn-comprar" type="submit" title="Agregar al carrito">COMPRAR</button>
                </div>
            </div>
        </div>
        <!---------------------Segundo contenedor de productos-------------->
        <div class="conten-padre">
            <div class="contenedor">
                <div class="carta">
                    <div class="lado frente">
                        <img src="~/img/lap_dell_gamer.png" alt="">
                    </div>
                    <div class="lado atras ficha-tecnica">
                        <p><b><u>Procesador:</u></b> Intel Core i7–7700HQ Procesador (6M Cache, hasta 3.80 GHz)</p>
                        <p><b><u>Tarjeta de video:</u></b> NVIDIA GeForce GTX 1050 Ti 4GB DDR5</p>
                        <p><b><u>Memoria RAM:</u></b> 8GB DDR4</p>
                        <p><b><u>Pantalla:</u></b> Full HD 1920X1080 Mate</p>
                        <p><b><u>Almacenamiento:</u></b> 1TB 5400RPM</p>
                        <p><b><u>Batería:</u></b> Batería de 74 Wh Litio-Ion, seis celdas</p>
                        <p><b><u>SO:</u></b> WIndows 10 SL</p>
                        <p><b><u>Audio:</u></b> Altavoces de salida frontal, un subwoofer y Waves MaxxAudio Pro</p>
                        <p><b><u>Puertos:</u></b> Conector combinado (auriculares/micrófono), 3 Puertos USB 3.0, HDMI, Gigabit Ethernet, Lector de tarjetas de medios</p>
                        <p><b><u>Conectividad:</u></b> Intel Dual Band Wireless-AC 3165, Bluetooth 4.2</p>
                    </div>
                </div>
                <div class="etiqueta">
                    <h5 class="nom-producto">DELL Gaming Inspiron 15-7000</h5>
                    <h5 class="precio-producto">27,000.00 MX</h5>
                    <h3 class="existencias">5</h3><h3 class="existencias"> Existencias</h3><br>
                    <input class="cantidad" type="number" value="1" min="1" max="5">
                    <button class="btn-comprar" type="submit" title="Agregar al carrito">COMPRAR</button>
                </div>
            </div>
            <div class="contenedor">
                <div class="carta">
                    <div class="lado frente">
                        <img src="~/img/pc_lenovo.png" alt="">
                    </div>
                    <div class="lado atras ficha-tecnica">
                        <p><b><u>Procesador:</u></b> Intel Celeron J3060 1.60GHz</p>
                        <p><b><u>Tarjeta de video:</u></b> Intel HD Graphics 400</p>
                        <p><b><u>Memoria RAM:</u></b> 4GB DDR3-SDRAM</p>
                        <p><b><u>Pantalla:</u></b> 19.5pulg-1600 x 900 Pixeles-HD+</p>
                        <p><b><u>Almacenamiento:</u></b> 500 GB 7200 RPM Serial ATA III</p>
                        <p><b><u>Batería:</u></b> 50/60 Hz</p>
                        <p><b><u>SO:</u></b>Windows 10 Home 64 bits</p>
                        <p><b><u>Audio:</u></b> Realtek ALC233</p>
                        <p><b><u>Puertos:</u></b> 1 HDMI, 2 USB-3.0, Ethernet, Auriculares, 2 USB-2.0</p>
                        <p><b><u>Conectividad:</u></b> Wi-Fi IEEE 802.11ac, Bluetooth	4.0</p>
                    </div>
                </div>
                <div class="etiqueta">
                    <h5 class="nom-producto">Lenovo S200z All-in-One</h5>
                    <h5 class="precio-producto">8,900.00 MX</h5>
                    <h3 class="existencias">5</h3><h3 class="existencias"> Existencias</h3><br>
                    <input class="cantidad" type="number" value="1" min="1" max="5">
                    <button class="btn-comprar" type="submit" title="Agregar al carrito">COMPRAR</button>
                </div>
            </div>
            <div class="contenedor">
                <div class="carta">
                    <div class="lado frente">
                        <img src="~/img/lap_toshiba.png" alt="">
                    </div>
                    <div class="lado atras ficha-tecnica">
                        <p><b><u>Procesador:</u></b> Intel Celeron 2.17 GHz con Turbo Boost 2.39 GHz</p>
                        <p><b><u>Tarjeta de video:</u></b> Intel HD Graphics</p>
                        <p><b><u>Memoria RAM:</u></b> 4GB DDR3</p>
                        <p><b><u>Pantalla:</u></b> LED 	11.6" 1366 x 768</p>
                        <p><b><u>Almacenamiento:</u></b> 500GB</p>
                        <p><b><u>Batería:</u></b> 3 Celdas de Li-Ion-45 Watts</p>
                        <p><b><u>SO:</u></b> Windows 8.1 64 Bits</p>
                        <p><b><u>Audio:</u></b> Audio de Alta Definición</p>
                        <p><b><u>Puertos:</u></b> 2 USB-2.0, USB-3.0, SD, VGA, HDMI, Ethetnet, Auriculares</p>
                        <p><b><u>Conectividad:</u></b> Wifi 802.11 b/g/n y Bluetooth</p>
                    </div>
                </div>
                <div class="etiqueta">
                    <h5 class="nom-producto">Toshiba Satellite NB15-A1161FM</h5>
                    <h5 class="precio-producto">5,000.00 MX</h5>
                    <h3 class="existencias">5</h3><h3 class="existencias"> Existencias</h3><br>
                    <input class="cantidad" type="number" value="1" min="1" max="5">
                    <button class="btn-comprar" type="submit" title="Agregar al carrito">COMPRAR</button>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div>
                <p>© 2020 Mundo PC. Todos los derechos reservados</p>
            </div>
        </footer>
    </body>
