@{

}

    <body class="fondo-registro">
        <form class="form-register">
            <div class="register-img">
                <img src="~/img/avatar.png" alt="">
            </div>
            <h1>Registro</h1>
            <input class="controls" type="text" name="Nombres" id="nombre" placeholder="Ingrese su nombre" required>
            <input class="controls" type="text" name="Apellidos" id="apellido" placeholder="Ingrese sus apellidos" required>
            <input class="controls" type="email" name="Correo" id="correo" placeholder="Ingrese su correo" required>
            <input class="controls" type="text" name="Usuario" id="usr" placeholder="Ingrese su usuario" required>
            <input class="controls" type="password" name="contraseña" id="pw" placeholder="Ingrese su contraseña" required>
            <input class="controls" type="text" name="direccion" id="direccion" placeholder="Ingrese su direccion de donde vive" required>
            <input class="controls" type="text" name="colonia" id="colonia" placeholder="Ingrese su colonia" required>
            <label for="region">*Región:</label>
            <select class="controls" name="region">
                <option class="controls" value="1">Ciudad de México</option>
                <option class="controls" value="2">Estado de México</option>
            </select>
            <input class="controls" type="text" id="cp" name="cp" placeholder="Ingrese su codigo postal" required pattern="[0-9]+">
            <input class="controls" type="tel" id="telefono" name="telefono" placeholder="Ingrese su numero telefonico" required pattern="[0-9]+">
            <input class="botons" type="submit" value="Registrar" formaction="login">
        </form>
        <footer class="footer">
            <div>
                <p>© 2020 Mundo PC. Todos los derechos reservados</p>
            </div>
        </footer>
    </body>
